{% extends 'base.html' %}


{% block content %}
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5">
                <div class="text-center text-white">
                    <h1 class="display-5 fw-bolder mb-5 fst-italic">{{ category.name }}</h1>
<!--                    <p class="lead fw-normal text-white-50 mb-3">Магазин одежды и обуви</p>-->
                </div>
            </div>
        </header>
    <section>
            <div class="container px-4 px-lg-5 mt-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for clothes in category_clothes %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <a href="{{ clothes.get_absolute_url }}"><img class="card-img-top" src="{{ clothes.image.url }}" alt="..." /></a>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ clothes.title }}</h5>
                                    {{ clothes.price }} BYN
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ clothes.get_absolute_url }}">Смотреть</a>
                            <a class="btn btn-outline-dark mt-2" href="{% url 'add_to_cart' ct_model=clothes.get_model_name slug=clothes.slug %}">
                                Добавить в корзину
                            </a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock content %}