<table class="table">
  <tbody>
    <tr>
      <td>Цена</td>
      <td>{{ clothes.price }} BYN</td>
    </tr>
    <tr>
      <td>Цвет</td>
      <td>{{ clothes.color }}</td>
    </tr>
    <tr>
      <td>Длина по внутреннему шву</td>
      <td>{{ clothes.length_inside }}</td>
    </tr>
    <tr>
      <td>Длина по боковому шву</td>
      <td>{{ clothes.length_side }}</td>
    </tr>
    <tr>
      <td>Ширина по низу:</td>
      <td>{{ clothes.bottom_width }}</td>
    </tr>
    <tr>
      <td>Узор</td>
      <td>{{ clothes.pattern }}</td>
    </tr>
    <tr>
      <td>Застёжка</td>
      <td>{{ clothes.claps }}</td>
    </tr>
    <tr>
      <td>Брэнд</td>
      <td>{{ clothes.brand }}</td>
    </tr>
  </tbody>
</table>
