<table class="table mb-5">
  <tbody>
    <tr>
      <td>Цена</td>
      <td>{{ clothes.price }} BYN</td>
    </tr>
    <tr>
      <td>Цвет</td>
      <td>{{ clothes.color }}</td>
    </tr>
    <tr>
      <td>Длина</td>
      <td>{{ clothes.length }}</td>
    </tr>
    <tr>
      <td>Длина рукава</td>
      <td>{{ clothes.length_sleeve }}</td>
    </tr>
    <tr>
      <td>Узор</td>
      <td>{{ clothes.pattern }}</td>
    </tr>
    <tr>
      <td>Брэнд</td>
      <td>{{ clothes.brand }}</td>
    </tr>
  </tbody>
</table>
