<table class="table mb-5">
  <tbody>
    <tr>
      <td>Цена</td>
      <td>{{ clothes.price }} BYN</td>
    </tr>
    <tr>
      <td>Цвет</td>
      <td>{{ clothes.color }}</td>
    </tr>
    <tr>
      <td>Материал подошвы</td>
      <td>{{ clothes.outsole_material }}</td>
    </tr>
    <tr>
      <td>Материал стельки</td>
      <td>{{ clothes.insole_material }}</td>
    </tr>
    <tr>
      <td>Внутренний материал</td>
      <td>{{ clothes.inner_material }}</td>
    </tr>
    <tr>
      <td>Верхний материал</td>
      <td>{{ clothes.top_material }}</td>
    </tr>
    <tr>
      <td>Брэнд</td>
      <td>{{ clothes.brand }}</td>
    </tr>
  </tbody>
</table>
{% if request.user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'shoes_update' clothes.get_model_name clothes.slug %}">Изменить</a>
    <a class="btn btn-danger" href="{% url 'clothes_delete' ct_model=clothes.get_model_name slug=clothes.slug %}">Удалить</a>
{% endif %}
